<!doctype html>
<html>
<head>
	<%- include("../fragmente/head.ejs") %>
	<title>404</title>
</head>
<body>

<%- include("../fragmente/header.ejs") %>
<main>
	<h2>404</h2>
    <p>Pagina cauta nu este disponibila !:( </p>
	<p>Te rugam sa accesezi una dintre paginile din meniu de sus :)</p>
</main>

<%- include("../fragmente/footer.ejs") %>
</body>
</html>