<!DOCTYPE html>
<html lang="ro">
  <head>

  
	<%- include("../fragmente/head.ejs") %>

</head>
  
 
<body class="light">

	<%- include("../fragmente/header.ejs") %>

    <div id="main_despre">
    
 
 
     
 
   
    <main style="padding-left: 5%;">
   
      <!--figure id="portret">
           <img   src="./resurse/imagini/portret.jpeg" alt="portret"  title="Eu" >
 
      </figure-->
    
 
    <section id="despre">
    
     <h2>Despre</h2> 
 
     
   <p>
         Salutare!
   </p>
 
   <p>
 Ma numesc Alex si mi-a placut sa desenez de cand ma stiu, insa, crescand, simteam ca partea creativa din mine se pierde usor, usor, asa ca, la indemnul unei persoane dragi , am pornit <b>Customwise</b>. De atunci <b>personalizez</b> orice articol de imbracaminte, incaltaminte sau accesoriu care imi trec prin mana.
   </p> 
 
    <p>
      Pentru a realiza un model cat mai apropiat de personalitatea ta, imi poti lasa cateva deltalii (ce <b>culori</b> iti plac, ce personaje iti plac, ce filme preferi etc.) aici *si aici o sa vina hyperlink catre formularul de contact*, iar eu voi reveni cu un mesaj pentru a stabili design-ul final. 
     </p>
 
    <p>
      Calitatea este foarte importanta pentru mine, de aceea din prima zi am folosit cele mai bune vopsele pentru piele si textil. Imi doresc sa livrez un produs 100% utilizabil si tratez procesul cu maxima seriozitate si atentie.
     </p> 
     </section>
 
 
       <!--br>
    <video width="320" height="240" controls>
      <source src="./resurse/imagini/videoclip.mp4" type="video/mp4">
      <source src="videoclip.ogv" type="video/ogv">
      <track default src="./resurse/imagini/mesaje_ro.vtt" kind="captions" srclang="ro" label="romana" />
      <track  src="./resurse/imagini/mesaje_en.vtt" kind="captions" srclang="en" label="engleza" />
    </video>
    <br>
  <audio controls>
   
   <source src="./resurse/imagini/audio.mpeg" type="audio/mpeg">
   <source src="./resurse/imagini/audio.ogg" type="audio/ogg">
 Your browser does not support the audio element.
 </audio-->
 
 <section id="contact">
   <h2> Pagina de Contact </h2>
 
   aici va fi un hyperlink catre pagina de contact (tip formular)
 </section>
     </main>

    
      <%- include("../fragmente/footer.ejs") %>


 </body>


</html>