<!DOCTYPE html>
<html lang="ro">
  <head>
  <%- include("../fragmente/head.ejs") %>
</head>
<body class="light">

    <%- include("../fragmente/header.ejs") %>
  
    <main style="      padding-left: 5%;    ">
   
    
    <h2><b>FAQ</b></h2> 

    <ul>
    
      <li><p>	<b>Cum sunt realizate picturile?</b><br>
  Toate picturile sunt realizata 100% <i lang="en">handmade</i>. Nu folosim stickere sau imprimante.</p>  </li>
  
  <li><p><b>Produsele rezista la purtat si splat?</b><br>
  Da. Absolut toate produsele pe care le personalizam rezista la utilizare si spalare</p></li>
  
  <li><p> <b>Cum se curta produsele?</b><br>
  Produsele se pot spala atat la masina de spalat, la o temperatura de 30*C, cat si de mana, cu apa rece. In functie de tipul produsul, acesta vine in pachet cu instructiuni suplimentare de intretinere si curatare.</p></li>
  
  <li><p><b>De unde comanzi incaltamintea sau gecile?</b><br>
  Nu am un furnizor pentru incaltaminte sau pentru geci. Produsele sunt achizitionate fie de client, fie de mine, din mall-uri sau de pe site-urile de profil.</p></li>
  
  <li><p><b>Poti personaliza o pereche de adidasi sau o geaca pe care deja o am?</b><br>
  Da! Clientul poate venii cu o  o pereche de incaltaminte sau o geaca (noua/utilizata). <strong>ATENTIE!</strong> Produsul trebuie sa fie in stare cat mai buna! In caz contrar va trebui sa refuz comanda. Vopseaua nu poate fi aplicata correct daca produsul este mult prea uzat.</p></li>
  
  <li><p><b>Cat timp dureaza pana este realizat produsul dorit?</b><br>
  Timpul il comunic clientului dupa stabilirea modelului final. Deoarce tot procesul este realizat manual, timpul de executie depinde de complexitatea modelului. Timpul minim este de 7 zile de cand produsul intra in posesia mea.</p></li>
  
  <li><p><b>Daca doresc un alt model, inafara de cele de pe site, care este pretul personalizarii?</b><br>
  Pretul personalizarii depinde de complexitatea modelului pe care ti-l doresti. Dupa ce stabilim impreuna un model, iti voi comunica pretul lucrarii.</p></li>
  
  <li><p><b>Unde se poate face livrarea?</b><br>
  Iti pot livra articolul oriunde in tara si un Uniunea Europeana.</p></li>
  
  <li><p><b>Care este costul livrari?</b><br>
  Pentru livrarile in tara, pretul livrarii este cuprins intre 12 si 20 de lei, in functie de dimensiunile obiectului ales si de locul in care te afli.</p></li>
  
  <li><p><b>Pot face retur?</b><br>
  Avand in vedere ca articolele sunt personalizate la comanda, in functie de dorintele si imaginatia ta, returul nu este posibil decat in cazul in care apare o eroare de marime (primesti articolul intr-o alta marime decat cea comandata).</p></li>
  
  
  </ul>
</main>
      
<%- include("../fragmente/footer.ejs") %>
      <br>
      <br>
   
        <div id="animatie">Proiect scolar</div>
        
  
  
   </body>
  
  
  </html>  
