<!DOCTYPE html>
<html lang="ro">
  <head>
  <%- include("../fragmente/head.ejs") %>
</head>
<body class="light">
  
    <%- include("../fragmente/header.ejs") %>

  
    <main>
  


      

            

      <h2>Geci</h2>
      <section>
   <div class="grid" id="container_animatie">
     <div id="derulant">
      <figure class="produse_geci" >
       <img   src="/imagini/geci/balena1.png" alt="Imagine cu geaca personalizata"  title="Coada de Balena" >
      <figcaption>Geaca "Coada de Balena"  </figcaption>
     </figure>
   
      <figure class="produse_geci" >
       <img   src="/imagini/geci/balena2.png" alt="Imagine cu geaca personalizata"  title="Coada de Balena" >
      <figcaption>Geaca "Coada de Balena"  </figcaption>
     </figure>
      
      <figure class="produse_geci" >
       <img src="/imagini/geci/bugs1.png" alt="Imagine cu geaca personalizata"  title="Space Jam" >
      <figcaption>Geaca "Space Jam"  </figcaption>
     </figure>
   
        <figure class="produse_geci" >
       <img src="/imagini/geci/bugs2.png" alt="Imagine cu geaca personalizata"  title="Space Jam" >
      <figcaption>Geaca "Space Jam"  </figcaption>
     </figure>
   
        <figure class="produse_geci" >
       <img src="/imagini/geci/bugs3.png" alt="Imagine cu geaca personalizata"  title="Space Jam" >
      <figcaption>Geaca "Space Jam"  </figcaption>
     </figure>
   
        <figure class="produse_geci" >
       <img  src="/imagini/geci/leu1.png" alt="Imagine cu geaca personalizata"  title="King of the Jungle" >
      <figcaption>Geaca "King of the Jungle"   </figcaption>
     </figure>
   
       <figure class="produse_geci" >
       <img  src="/imagini/geci/leu2.png" alt="Imagine cu geaca personalizata"  title="King of the Jungle" >
      <figcaption>Geaca "King of the Jungle"   </figcaption>
     </figure>
   
       <figure class="produse_geci" >
       <img  src="/imagini/geci/leu3.png" alt="Imagine cu geaca personalizata"  title="King of the Jungle" >
      <figcaption>Geaca "King of the Jungle"   </figcaption>
     </figure>
   
      <figure class="produse_geci" >
       <img  src="/imagini/geci/leu4.png" alt="Imagine cu geaca personalizata"  title="King of the Jungle" >
      <figcaption>Geaca "King of the Jungle"   </figcaption>
     </figure>
     <figure class="produse_geci" >
       <img  src="/imagini/geci/masina1.png" alt="Imagine cu geaca personalizata"  title="King of the Jungle" >
      <figcaption>Geaca "King of the Jungle"   </figcaption>
     </figure>
     <figure class="produse_geci" >
       <img  src="/imagini/geci/masina2.png" alt="Imagine cu geaca personalizata"  title="King of the Jungle" >
      <figcaption>Geaca "King of the Jungle"   </figcaption>
     </figure>
      </div>
   </section>
   <br>
   <br>
   <section id="contact">
     <h2> Pagina de Contact </h2>
   
     aici va fi un hyperlink catre pagina de contact (tip formular)
   </section>
       </main>
    
    <%- include("../fragmente/footer.ejs") %>


 </body>


</html>