<!DOCTYPE html>
<html lang="en">
<head>
	
    <%- include("../fragmente/head") %>
</head>
<body class="light">

  <%- include("../fragmente/header") %>

	
<main>
    Ai fost delogat!
</main>

<footer>
    <% include("../fragmente/footer") %>
</footer>

</body>
</html>