<!DOCTYPE html>
<html lang="ro">
  <head>

  
	<%- include("../fragmente/head.ejs") %>

</head>
  
 
<body class="light">

	<%- include("../fragmente/header.ejs") %>

    <div id="main_despre">
   
 
 
     
 
   
      <main>

        <h2>Tabel de Marimi Adidasi
       
       </h2>
         <section id="adidasi">
       <div id="grid_tabel">
   
    <table >
             
   
               <thead>
                   <tr>
                       <th colspan="5">Barbati</th>
   
                   </tr>
                  
                   
                   <tr>
                      <th>Nr. Crt.</th>
                      <th >EU</th>
                       <th >UK</th>
                       <th >US</th>
                       <th >CM</th>
                         
                   </tr>
   
               </thead>
               <tbody>
                   <tr>
                      <td>
   
                      </td>
                       <td>
                          38,5
                       </td>
                       
                       <td>
                           5,5
                       </td>
                           
                       <td>
                           6
                       </td>
                       <td>
                           24
                       </td>
   
                   </tr>
                   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          39
                       </td>
                       
                       <td>
                          6
                       </td>
                           
                       <td>
                          6,5
                       </td>
                       
                       <td>
                           24,5
                       </td>
   
                   </tr>
   
                    <tr><td>
   
                  </td>
                       
                       <td>
                          40
                       </td>
                       
                       <td>
                          6
                       </td>
                           
                       <td>
                          7
                       </td>
                       
                       <td>
                           25
                       </td>
   
                   </tr>
   
   
                    <tr><td>
   
                  </td>
                       
                       <td>
                          40,5
                       </td>
                       
                       <td>
                          6,5
                       </td>
                           
                       <td>
                          7,5
                       </td>
                       
                       <td>
                           25,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          41
                       </td>
                       
                       <td>
                          7
                       </td>
                           
                       <td>
                          8
                       </td>
                       
                       <td>
                           26
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          42
                       </td>
                       
                       <td>
                          7,5
                       </td>
                           
                       <td>
                          8,5
                       </td>
                       
                       <td>
                           26,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          42,5
                       </td>
                       
                       <td>
                          8
                       </td>
                           
                       <td>
                          9
                       </td>
                       
                       <td>
                           27
                       </td>
   
                   </tr>
   
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          43
                       </td>
                       
                       <td>
                          8,5
                       </td>
                           
                       <td>
                          9,5
                       </td>
                       
                       <td>
                           27,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          44
                       </td>
                       
                       <td>
                          9
                       </td>
                           
                       <td>
                          10
                       </td>
                       
                       <td>
                         28
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          44,5
                       </td>
                       
                       <td>
                          9,5
                       </td>
                           
                       <td>
                          10,5
                       </td>
                       
                       <td>
                           28,5
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                         45                      
                       </td>
                       
                       <td>
                          10
                       </td>
                           
                       <td>
                          11
                       </td>
                       
                       <td>
                           29
                       </td>
   
                   </tr>
   
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          45,5
                       </td>
                       
                       <td>
                          10,5
                       </td>
                           
                       <td>
                          11,5
                       </td>
                       
                       <td>
                           29,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          46
                       </td>
                       
                       <td>
                          11
                       </td>
                           
                       <td>
                          12
                       </td>
                       
                       <td>
                           30
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          47
                       </td>
                       
                       <td>
                         11,5
                       </td>
                           
                       <td>
                          12,5
                       </td>
                       
                       <td>
                           30,5
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          47,5
                       </td>
                       
                       <td>
                          12
                       </td>
                           
                       <td>
                          13
                       </td>
                       
                       <td>
                           31
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          48
                       </td>
                       
                       <td>
                          12,5
                       </td>
                           
                       <td>
                          13,5
                       </td>
                       
                       <td>
                           31,5
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          48,5
                       </td>
                       
                       <td>
                          13
                       </td>
                           
                       <td>
                          14
                       </td>
                       
                       <td>
                           32
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          49
                       </td>
                       
                       <td>
                          13,5
                       </td>
                           
                       <td>
                          14,5
                       </td>
                       
                       <td>
                           32,5
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          49,5
                       </td>
                       
                       <td>
                          14
                       </td>
                           
                       <td>
                          15
                       </td>
                       
                       <td>
                           33
                       </td>
   
                   </tr>
               </tbody>
   
               
           </table>
    
   
         <table>
                <thead>
                   <tr>
                       <th colspan="5">Femei</th>
   
                   </tr>
                  
                   
                   <tr>
                      <th>Nr. Crt.</th>
                      <th >EU</th>
                       <th >UK</th>
                       <th >US</th>
                       <th >CM</th>
                         
                   </tr>
   
               </thead>
               <tbody>
                   <tr>
                      <td>
   
                  </td>
                       <td>
                          35,5
                       </td>
                       
                       <td>
                           2,5
                       </td>
                           
                       <td>
                           5
                       </td>
                       <td>
                           22
                       </td>
   
                   </tr>
                   
                    <tr>
                     <td>
   
                     </td>
                       
                       <td>
                          36
                       </td>
                       
                       <td>
                          3
                       </td>
                           
                       <td>
                          5,5
                       </td>
                       
                       <td>
                           22,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          36,5
                       </td>
                       
                       <td>
                          3,5
                       </td>
                           
                       <td>
                          6
                       </td>
                       
                       <td>
                           23
                       </td>
   
                   </tr>
   
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          37,5
                       </td>
                       
                       <td>
                          4
                       </td>
                           
                       <td>
                          6,5
                       </td>
                       
                       <td>
                           23,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          38
                       </td>
                       
                       <td>
                          4,5
                       </td>
                           
                       <td>
                          7
                       </td>
                       
                       <td>
                           24
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          38,5
                       </td>
                       
                       <td>
                          5
                       </td>
                           
                       <td>
                          7,5
                       </td>
                       
                       <td>
                           24,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          39
                       </td>
                       
                       <td>
                          5,5
                       </td>
                           
                       <td>
                          8
                       </td>
                       
                       <td>
                           25
                       </td>
   
                   </tr>
   
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          40
                       </td>
                       
                       <td>
                          6
                       </td>
                           
                       <td>
                          8,5
                       </td>
                       
                       <td>
                           25,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          40,5
                       </td>
                       
                       <td>
                          6,5
                       </td>
                           
                       <td>
                          9
                       </td>
                       
                       <td>
                         26
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          41
                       </td>
                       
                       <td>
                          7
                       </td>
                           
                       <td>
                          9,5
                       </td>
                       
                       <td>
                           26,5
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                         42                      
                       </td>
                       
                       <td>
                          7,5
                       </td>
                           
                       <td>
                          10
                       </td>
                       
                       <td>
                           27
                       </td>
   
                   </tr>
   
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          42,5
                       </td>
                       
                       <td>
                          8
                       </td>
                           
                       <td>
                          10,5
                       </td>
                       
                       <td>
                           27,5
                       </td>
   
                   </tr>
   
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          43
                       </td>
                       
                       <td>
                          8,5
                       </td>
                           
                       <td>
                          11
                       </td>
                       
                       <td>
                           28
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          44
                       </td>
                       
                       <td>
                           9
                       </td>
                           
                       <td>
                          11,5
                       </td>
                       
                       <td>
                           28,5
                       </td>
   
                   </tr>
                    <tr>
                     <td>
   
                     </td>
                       <td>
                          44,5
                       </td>
                       
                       <td>
                          9.5
                       </td>
                           
                       <td>
                          12
                       </td>
                       
                       <td>
                           29
                       </td>
   
                   </tr>
      
               </tbody>
   
               
           </table>
   
          <table class="generate">
                <thead>
                   <tr>
                       <th colspan="5">Copii</th>
   
                   </tr>
                  
                   
                   <tr>
                      <th>Nr. Crt.</th>
                      <th >EU</th>
                       <th >UK</th>
                       <th >US</th>
                       <th >CM</th>
                         
                   </tr>
   
               </thead>
               <tbody>
              <tr>
                <td>
                </td>
                 <td>
                   27,5
   
                 </td>
                 <td>
                   C10
                 </td>
                 <td>
                   10,5
                 </td>
                 <td>
                   16,5
                 </td>
              </tr>
               <tr>
                  <td>
                </td>
                 <td>
                   28
   
                 </td>
                 <td>
                   C10.5
                 </td>
                 <td>
                   11
                 </td>
                 <td>
                   17
                 </td>
              </tr>
              <tr>
                 <td>
                </td>
                 <td>
                   28,5
   
                 </td>
                 <td>
                   C11
                 </td>
                 <td>
                   11,5
                 </td>
                 <td>
                   17,5
                 </td>
              </tr>
              
               </tbody>
            </table>
           
     
         </div>
    </section>
   <section id="geci">
   
   
         <br>
         <br>
   
          <table >
                <thead>
                   <tr>
                       <th colspan="6">Femei</th>
   
                   </tr>
                  
                   
                   <tr>
                      <th >Nr. Crt.</th>
                      <th colspan="2">Marime</th>
                      <th >Circumferinta<br> Piept</th>
                       <th >Circumferinta<br> Talie</th>
                       <th >Circumferinta <br>Solduri</th>
                      
                         
                   </tr>
   
               </thead>
               <tbody>
              <tr>
                <td>
                </td>
                <td>
                  32/34
                </td>
                 <td>
                   XS
                   
   
                 </td>
                 <td>
                   74-81
                 </td>
                 <td>
                   60-65
                 </td>
                 <td>
                   84-91
                 </td>
              </tr>
   
                <tr>
                  <td>
                  </td>
                <td>
                  36/38
                </td>
                 <td>
                   S
                   
   
                 </td>
                 <td>
                   82-89
                 </td>
                 <td>
                   66-73
                 </td>
                 <td>
                   92-98
                 </td>
              </tr>
   
                <tr>
                  <td>
                  </td>
                <td>
                  40/42
                </td>
                 <td>
                     M
                   
   
                 </td>
                 <td>
                   90-97
                 </td>
                 <td>
                   74-81
                 </td>
                 <td>
                   99-106
                 </td>
              </tr>
   
                   <tr>
                     <td>
                     </td>
                  <td>
                    44/46
                  </td>
                
                 <td>
                     L
                   
   
                 </td>
                 <td>
                   98-107
                 </td>
                 <td>
                   82-91
                 </td>
                 <td>
                   107-115
                 </td>
              </tr>
              <tr>
                <td>
                 
                  <td>
                    48/50
                   </td>
                   <td>
                    XL
                   </td>
                   <td>
                    108-119
                   </td>
                   <td>
                    92-102
                   </td>
                   <td>
                    116-125
                   </td>
              </tr>
               <tr>
                <td>
                 
                  <td>
                    52/54
                   </td>
                   <td>
                    XXL
                   </td>
                   <td>
                    120-131
                   </td>
                   <td>
                    103-114
                   </td>
                   <td>
                    126-135
                   </td>
              </tr>
               
              
               </tbody>
            </table>
   
   
   </section>
   <section>
     <h2> Pagina de Contact </h2>
   
     aici va fi un hyperlink catre pagina de contact (tip formular)
   </section>
       </main>
       

    
      <%- include("../fragmente/footer.ejs") %>


 </body>


</html>