 
    <footer id="contact">


      <b>CONTACT</b>
      <br>
       E-mail: <a href="mailto:customwise.orders@gmail.com">customwise.orders@gmail.com</a>
     
      <br>
     
    <i class="fab fa-instagram"></i>
    Instagram: <a href="https://www.instagram.com/customwise_/"> @customwise_</a>
    
    <br>
      <address>Strada Fuiorului</address>
    
        <aside> Data ultimului update al site-ului <time datetime="2020-10-21">2020-10-21</time>.</aside>
        <span id="butonhome"><a href="#"><i class="fas fa-arrow-up"></i></a></span>
      
    
    
        <button id="butontema" onclick="f(this)" class="fas fa-moon ">
         
    
    </button>
    
    
    
        </footer>