<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="/css/print.css" rel="stylesheet" media="print" type="text/css" />
  <!-- <link href='https://fonts.googleapis.com/css?family=CaveatBrush' rel='stylesheet'> -->
  <link rel="stylesheet" href="/css/galerie.css" type="text/css"  />
  <!-- <link rel="stylesheet" href="/css/index.css" type="text/css"  /> -->
  
  <link rel="stylesheet" href="/css/galerie_1450.css" type="text/css" media="screen and (max-width: 1250px) and (min-width:780px)" />

  <link rel="stylesheet" href="/css/galerie_749.css" type="text/css" media="screen and (max-width: 780px)and (min-width: 200px)" />
  
  <link rel="stylesheet" href="/css/galerie_1451.css" type="text/css" media="screen and (min-width: 1251px) " />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Customwise</title>
 
  <link href="/imagini/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="description" content="Obiecte personalizate manual">
  <meta name="keywords" content="custom,personalizare, pictura, haine, adidasi, sneaker, personalizate, manual, artwork, handmade">
  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
  <meta name="author" content="Alexandru Cana">
  <script src="/script.js"></script>

</head>